p Hello #{name},
p This email address was registered at daobase.io. If this was you please follow this link;
p #{link}
p
p If you did not register for our service please contact as at SOMEEMAILADDRESS.
p Thank you,
p The TrustFeeed Team
